.box-sliding1{
    margin-top: 30px;
    width: 100vw auto;
    height: 400px;
background-color: #2E90E5;
opacity: 1;
border-radius: 10px;
   
}
.coro2{

 float:right;
 height: 400px;

}
.box-mobile{
    position: absolute;
    padding:150px;
}
.mobile-name{
    color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal 300 46px/81px Proxima Nova;
letter-spacing: 0px;
color: #FFFFFF;
margin-left: -60px;
opacity: 1;
}
.mobile-p{
    color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 24px/35px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.mobile-span{
    background-color:#FFFFFF ;
   
    padding: 10px;
    border-radius: 15px;
    color:#2E90E5;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-shadow: 5px 5px 10px #2E90E5 ;
   box-shadow: 5px 5px 10px #2E90E5 ;
   font-size: 15px;
}
