.tool-bar{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 15px; 
   color: #262626;
   display: flex;
   justify-content: space-around;
   padding: 10px;
   border-bottom: 2px solid #FAFAFB;
   
}
.tool-bar:hover{
    box-shadow: 0px 0px 10px #26262692;

}
#price-nav{
    border: none;
    width: 50px;
}
#price-nav:hover{
  
    color: #2E90E5;
    border-radius:100px;
    transition: 0.5s;
    background-color:rgba(119, 121, 123, 0.174);
}
.profile-nav:hover{
  
    color: #2E90E5;
    border-radius:100px;
    transition: 0.5s;
 
    background-color: rgba(119, 121, 123, 0.174);
}
.headings-nav{
    text-decoration: none;
   text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 15px; 
   color: #262626;
   margin-top: 20px;
   
}
.nav-hov:hover{
    color: #2E90E5;
   
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: red;
}
#text-table{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;
   font-weight: 40px;
   color: #1e1d1da6;
}
#text-table1{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;
   font-weight: 40px;
  
}
